In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

**Word Count**

***select()***- select column from Dataframe

***Explode()***-The explode function in PySpark is used to transform a column with an array of values into multiple rows. Each row of the resulting DataFrame will contain one element of the original array column.

***split()*** to split DataFrame string Column into multiple columns

***alias()*** Returns this column aliased with a new name or names (in the case of expressions that return more than one column, such as explode).

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, split

# Create a Spark session
spark = SparkSession.builder.appName("WordCount").getOrCreate()

In [ ]:
# Read the text file
text_file_path = "/content/pyspark.txt"
text_data = spark.read.text(text_file_path)
text_data.show()

+--------------------+
|               value|
+--------------------+
|PySpark is the Py...|
|It enables you to...|
|It also provides ...|
|PySpark combines ...|
|PySpark supports ...|
+--------------------+

In [ ]:
df2= words = text_data.select(explode(split(text_data.value, " ")).alias("word"))
df2.show()

+-----------+
|       word|
+-----------+
|    PySpark|
|         is|
|        the|
|     Python|
|        API|
|        for|
|     Apache|
|     Spark.|
|           |
|         It|
|    enables|
|        you|
|         to|
|    perform|
| real-time,|
|large-scale|
|       data|
| processing|
|         in|
|          a|
+-----------+
only showing top 20 rows

In [ ]:
word_count = df2.groupBy("word").count()
word_count.show(truncate=False)

+-----------+-----+
|word       |count|
+-----------+-----+
|API        |1    |
|using      |1    |
|you        |1    |
|power      |1    |
|DataFrames,|1    |
|combines   |1    |
|Streaming, |1    |
|for        |3    |
|provides   |1    |
|data.      |1    |
|in         |1    |
|Sparkâ€™s    |1    |
|Spark.     |1    |
|with       |2    |
|distributed|1    |
|ease       |1    |
|your       |1    |
|analyzing  |1    |
|such       |1    |
|SQL,       |1    |
+-----------+-----+
only showing top 20 rows